@use '../../styles/tokens.scss' as var;

.button {
  padding: var.$padding-btn-medium;
  background-color: var.$col-primary;
  border: 2px solid var.$col-on-primary;
  border-radius: var.$brdr-radius-small;
  font-weight: var.$fnt-weight-bold;
  font-size: var.$fnt-size-button;
  text-transform: capitalize;
  transition: background-color 0.3s;
  &:hover {
    background-color: var.$col-primary-high;
  }
  &_login {
    background-color: var.$col-bg;
    &:hover {
      background-color: var.$col-primary-low;
    }
  }
}
