@use './tokens.scss' as var;

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin h1 {
  font-weight: var.$fnt-weight-bold;
  font-size: var.$fnt-size-display-large;
  color: var.$col-on-primary;
  @media (max-width: var.$width-trans-to-tablet) {
    font-size: var.$fnt-size-display-medium;
  }
  @media (max-width: var.$width-trans-to-mobile) {
    font-size: var.$fnt-size-display-small;
  }
}
