@use '../../styles/tokens.scss' as var;

.chips {
  display: flex;
  gap: 16px;
  &_item {
    padding: var.$padding-btn-small;
    font-weight: var.$fnt-weight-bold;
    font-size: var.$fnt-size-button;
    color: var.$col-on-primary;
    background-color: var.$col-white;
    border: var.$brdr-size solid var.$col-black;
    border-radius: var.$brdr-radius-extra-large;
    transition: background-color var.$transition-time;
    &:hover {
      background-color: var.$col-surface;
    }
    &:active,
    &--active {
      background-color: var.$col-primary;
    }
  }
}
