@use '../../styles/tokens.scss' as var;

.feedback-count {
  display: flex;
  align-items: center;
  gap: 4px;
  &::before {
    font-size: 24px;
    font-family: 'Material Symbols Outlined';
  }
  &--likes {
    &::before {
      content: '\e87d';
      color: var.$col-like;
    }
  }
  &--rating {
    &::before {
      content: '\e838';
      color: var.$col-primary;
    }
  }
}
