@use '../../styles/tokens.scss' as var;

.feedback-count {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: var.$fnt-weight-bold;
  height: 24px;
  font-size: var.$fnt-size-label-large;
  color: var.$col-on-primary;
  &::before {
    font-size: 24px;
    font-family: 'Material Symbols Outlined';
  }
  &--likes {
    &::before {
      content: '\e87d';
      color: var.$col-like;
    }
  }
  &--rating {
    &::before {
      content: '\e838';
      color: var.$col-primary;
    }
  }

  &--loading {
    background-color: var.$col-outline;
    width: 5ch;
    border-radius: 4px;
    animation: pulse 1.5s ease-in-out infinite;
    &::before {
      opacity: 0;
    }
  }

  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }
}
