@use '../../styles/tokens.scss' as var;

$width-header: var.$width-max-content;
$height-header: 83px;
$padding-side-header: 40px;

.header {
  border-bottom: 2px solid var.$col-on-primary;
  font-family: var.$fnt-family-inter;
  &_container {
    margin: 0 auto;
    padding: 0 $padding-side-header;
    height: $height-header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: calc($width-header + ($padding-side-header * 2));
  }
}
