@use '../../styles/tokens.scss' as var;

.footer {
  background-color: var.$col-bg-footer;
  color: var.$col-on-bg-footer;
  font-size: var.$fnt-size-body-small;
  &_top,
  &_bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var.$width-max-content;
    padding: 40px;
  }
  &_bottom {
    padding-top: 24px;
    border: var.$brdr-size-x-small solid var.$col-bg-footer-low;
  }
  &_link {
    position: relative;
    color: currentColor;
    text-decoration: none;
    &:hover {
      color: var.$col-primary;
      border-bottom: 1.5px solid var.$col-primary;
    }
    &:active {
      text-shadow: var.$text-shadow-pseudo-bold;
    }
    &_logo {
      display: block;
      width: 40px;
      height: 40px;
      background-color: var.$col-bg-footer-low;
      border-radius: var.$brdr-radius-full;
      border: var.$brdr-size solid var.$col-bg-footer-low;
      &:hover {
        border-color: var.$col-primary;
      }
    }
  }
}

.game-description {
  &_paragraph {
    max-width: 57ch;
    margin-top: 24px;
    line-height: var.$line-height-footer;
  }
}

.links-container {
  display: flex;
  gap: 80px;
}

.link-heading {
  text-transform: capitalize;
  font-size: var.$fnt-size-body-medium;
  font-weight: var.$fnt-weight-bold;
  color: var.$col-white;
}

.link-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-transform: capitalize;
  list-style: none;
  &--community {
    flex-direction: row;
  }
}

.bottom-link {
  text-decoration: none;
  color: currentColor;
  display: flex;
  align-items: center;
  transition: var.$transition-time;
}

.bottom-link::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: var.$brdr-radius-full;
  background-color: var.$col-on-primary;
  text-align: center;
  line-height: 24px;
  transition: var.$transition-time;
}

.bottom-link--rs {
  &::before {
    content: 'RS';
    background-color: var.$col-on-primary;
    font-size: var.$fnt-size-label-small;
    letter-spacing: -0.05em;
    color: var.$col-primary;
    font-weight: var.$fnt-weight-bold;
  }
  &:hover {
    color: var.$col-primary;
    &::before {
      color: var.$col-on-primary;
      background-color: var.$col-primary;
    }
  }
}

.bottom-link--github {
  &::before {
    font-family: 'Material Icons';
    content: '\e86f';
    background-color: var.$col-white;
    color: var.$col-on-primary;
    font-size: var.$fnt-size-body-medium;
  }
  &:hover {
    color: var.$col-white;
    &::before {
      background-color: var.$col-white;
    }
  }
}

.footer_link[aria-label='share']::after,
.footer_link[aria-label='messages']::before,
.footer_link[aria-label='rss']::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var.$fnt-size-headline-small;
  font-family: 'Material Icons';
  color: var.$col-white;
  pointer-events: none;
}

.footer_link[aria-label='share']::after {
  content: '\e80d';
}

.footer_link[aria-label='messages']::before {
  content: '\e0b7';
}
.footer_link[aria-label='rss']::before {
  content: '\e0e5';
}
