@use '../../../styles/tokens.scss' as var;

.card {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 200px;
  box-shadow: var.$box-shadow-lvl-1;
  border-radius: var.$brdr-radius-large;
  border: var.$col-on-primary solid var.$brdr-size-medium;
  background-color: var.$col-white;

  @media (max-width: var.$width-trans-to-tablet-library) {
    height: 152px;
  }
  @media (max-width: var.$width-trans-to-mobile-library) {
    flex-direction: column;
    height: 392px;
  }
  &_image {
    width: 39%;
    height: 100%;
    overflow: hidden;
    @media (max-width: var.$width-trans-to-mobile-library) {
      width: 100%;
      height: 160px;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 61%;
    height: 100%;
    padding: 16px;
    @media (max-width: var.$width-trans-to-mobile-library) {
      width: 100%;
      height: 232px;
    }

    &_title {
      display: flex;
      align-items: center;
      gap: 16px;
      @media (max-width: var.$width-trans-to-mobile-library) {
        flex-direction: column;
        align-items: baseline;
        gap: 8px;
      }
      &_heading {
        font-weight: var.$fnt-weight-bold;
        min-height: var.$fnt-size-headline-medium;
        font-size: var.$fnt-size-headline-medium;
        color: var.$col-on-primary;
        @media (max-width: var.$width-trans-to-tablet-library) {
          font-size: var.$fnt-size-headline-small;
        }
      }

      &_category {
        padding: 4px 8px;
        box-sizing: content-box;
        min-height: var.$fnt-size-label-medium;
        min-height: var.$fnt-size-label-medium;
        background-color: var.$col-secondary;
        border-radius: var.$brdr-radius-extra-large;
        border: var.$brdr-size-small solid var.$col-on-primary;
        font-size: var.$fnt-size-label-medium;
        font-weight: var.$fnt-weight-bold;
        color: var.$col-on-primary;
        text-transform: capitalize;
        @media (max-width: var.$width-trans-to-tablet-library) {
          border-width: var.$brdr-size-small;
        }
        @media (max-width: var.$width-trans-to-mobile-library) {
          padding: 2px 8px;
          border-radius: 20px;
        }
      }
    }

    &_description {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      overflow: hidden;
      min-height: var.$fnt-size-body-medium * 3; // TODO count line-height as well
      line-height: var.$line-height-large;
      font-size: var.$fnt-size-body-medium;
      font-weight: var.$fnt-weight-medium;
      @media (max-width: var.$width-trans-to-tablet-library) {
        font-size: var.$fnt-size-body-small;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        min-height: var.$fnt-size-body-small * 2; // TODO count line-height as well
      }
    }

    &_footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: var.$width-trans-to-mobile-library) {
        flex-direction: column;
        align-items: baseline;
        gap: 16px;
        position: relative;
      }

      &_price {
        position: absolute;
        min-height: var.$fnt-size-headline-medium;
        top: 16px;
        right: 16px;
        font-size: var.$fnt-size-headline-medium;
        font-weight: var.$fnt-weight-bold;
        color: var.$col-on-primary;
        @media (max-width: var.$width-trans-to-tablet-library) {
          min-height: var.$fnt-size-headline-small;
          font-size: var.$fnt-size-headline-small;
        }
        @media (max-width: var.$width-trans-to-mobile-library) {
          top: 0;
          right: 0;
        }
        &--free {
          color: var.$col-price-free;
        }
      }

      &_button {
        padding: var.$padding-btn-medium;
        background-color: var.$col-primary;
        border: var.$brdr-size solid var.$col-black;
        border-radius: var.$brdr-radius-small;
        font-weight: var.$fnt-weight-bold;
        font-size: var.$fnt-size-label-large;
        color: var.$col-on-primary;
        transition: background-color var.$transition-time;
        &:hover {
          background-color: var.$col-primary-high;
        }
        @media (max-width: var.$width-trans-to-tablet-library) {
          padding: var.$padding-btn-small;
        }
        @media (max-width: var.$width-trans-to-mobile-library) {
          padding: var.$padding-btn-medium;
          width: 100%;
        }
      }

      &_feedback {
        display: flex;
        gap: 24px;
        font-weight: var.$fnt-weight-bold;
        font-size: var.$fnt-size-label-large;
        color: var.$col-on-primary;
        @media (max-width: var.$width-trans-to-tablet-library) {
          gap: 16px;
          font-size: var.$fnt-size-label-medium;
        }
      }
    }
  }
  // skeleton
  &--loading {
    box-shadow: var.$box-shadow-lvl-1-grey;
    border-color: var.$col-outline;
    animation: pulse 1.5s ease-in-out infinite;
    .card {
      &_image {
        background-color: var.$col-outline;
        & img {
          opacity: 0;
        }
      }
      &_content {
        &_title {
          &_heading {
            background-color: var.$col-outline;
            width: 40%;
            border-radius: 4px;
          }
          &_category {
            width: 5ch;
            background-color: var.$col-outline;
            border-color: var.$col-outline;
          }
        }

        &_description {
          background-color: var.$col-outline;
          width: 100%;
          border-radius: 4px;
        }

        &_footer {
          &_price {
            width: 4ch;
            background-color: var.$col-outline;
            border-radius: 4px;
          }
          &_button {
            background-color: var.$col-outline;
            color: var.$col-outline;
            border-color: var.$col-outline;
            pointer-events: none;
          }
        }
      }
    }
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
